html {
    box-sizing: border-box;
    font-family: "Helvetica", arial, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
* {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
}
#map {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
}
.leaflet-control.enabled a {
    background-color: yellow;
}

main {
    z-index: 1;
    flex: 1 1 100%;
    position: relative;
    overflow: hidden;
}
